body {
  font-family: "Arial", sans-serif;
  margin: 0;
}

.header {
  background-color: #445162;
  box-sizing: border-box;
}

.center {
  display: flex;
  padding: 50px 50px 37px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}

.header__title {
  font-size: 60px;
  line-height: 50px;
  margin: 0;
  font-weight: normal;
  color: #ffffff;
}

.header-list {
  margin: 42px 0 0;
  padding: 0;
  font-size: 20px;
  color: #ffffff;
}

.list__item {
  list-style: none;
  background: url(../images/icons/check-mark-icon.png) no-repeat;
  padding-left: 35px;
  margin-bottom: 13px;
}

.header__image {
  width: 470px;
  height: 215px;
  background-color: #ffffff;
}

.container {
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.about-your-product__content {
  justify-content: space-between;
}

.about-your-product__right {
  padding-right: 50px;
}

.about-your-product__title {
  margin: 0 0 31px;
  font-size: 30px;
  font-weight: normal;
  color: #445161;
}

.about-your-product__text {
  max-width: 665px;
  font-size: 16px;
  color: #333333;
}

.about-your-product__block {
  float: right;
  width: 430px;
  height: 245px;
  background-color: #445161;
}

.advantages {
  background-color: #f5f5f5;
}

.advantages__content {
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.advantages__title {
  margin: 0 auto 30px;
  font-size: 30px;
  font-weight: normal;
  color: #445161;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #333333;
}

.advantages__item {
  list-style-type: none;
}

.advantages__text {
  max-width: 590px;
  padding-left: 41px;
  padding-right: 7px;
  margin: 0 0 20px;
  font-size: 16px;
  box-sizing: border-box;
  background: url(../images/icons/plus-icon.png) no-repeat 0 2px;
}

.scrinshots__content {
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.scrinshots__title {
  margin: 0 auto 35px;
  font-size: 30px;
  font-weight: normal;
  color: #445161;
}

.scrinshots__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1180px;
  width: 100%;
}

.scrinshot {
  max-width: 590px;
  margin-bottom: 30px;
}

.scrinshot__image {
  width: 200px;
  height: 152px;
  margin-right: 15px;
  float: left;
  background-color: #445161;
}

.scrinshot__name {
  font-size: 24px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 0 16px;
  color: #445161;
}

.scrinshot__description {
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  color: #333333;
}

.reviews {
  background-color: #f5f5f5;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 26px;
}

.reviews__title {
  margin: 0 auto 35px;
  font-size: 30px;
  font-weight: normal;
  color: #445161;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review {
  display: flex;
  justify-content: space-between;
  max-width: 574px;
  margin-bottom: 24px;
}

.review__photo {
  width: 75px;
  min-width: 75px;
  height: 75px;
  border-radius: calc(75px / 2);
  margin-right: 16px;
  background-color: #445161;
}

.review__text {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 483px;
  padding: 16px 15px 16px;
  margin-left: 13px;
  background-color: #ebebeb;
  /* background: url(../images/reviews/review-background.png) no-repeat; */
}

.review__description {
  margin: 0 0 9px;
  font-size: 14px;
  font-style: italic;
  color: #333333;
}

.review__name {
  margin: 0;
  font-size: 14px;
  color: #989898;
}

.review__name::after {
  content: "";
  display: block;
  position: absolute;
  top: 27px;
  left: -11px;
  height: 23px;
  width: 12px;
  clip-path: polygon(100% 0, 100% 100%, 0% 50%);
  background-color: #ebebeb;
}

.buy__content {
  flex-direction: column;
  padding: 50px;
  max-width: 1110px;
}

.buy__title {
  margin: 0 auto 29px;
  font-size: 30px;
  font-weight: normal;
  color: #445161;
}

.buy__prises {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.tariff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 300px;
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #445162;
}

.tariff__title {
  margin: 17px auto;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
}

.tariff__prise {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.tariff__money {
  margin: 13px auto;
  font-size: 40px;
  color: #445162;
}

.services-list {
  margin: 20px 29px 12px 20px;
  padding-left: 15px;
  font-size: 14px;
  color: #ffffff;
}

.services-list__item {
  margin-bottom: 8px;
}

.button {
  margin: 0 20px 20px;
  max-width: 260px;
  width: calc(100% - 40px);
  border: 0;
  padding: 14px 0;
  border-radius: 5px;
  border: solid 1px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: #445161;
  background-color: #ffffff;
}

.button:hover {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #445161;
}

.contacts {
  background-color: #445162;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 890px;
}

.contacts__title {
  margin: 0 auto 31px;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
}

.contacts__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.form-group {
  margin: 0;
  margin-bottom: 21px;
  width: 100%;
}

.form__name {
  box-sizing: border-box;
  padding: 12px 10px;
  border: 0;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}

.form__email {
  box-sizing: border-box;
  padding: 12px 10px;
  border: 0;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}

.form__message {
  margin-bottom: 21px;
  box-sizing: border-box;
  padding: 12px 10px;
  height: 170px;
  border: 0;
  box-sizing: border-box;
  /* width: 500px; */
  font-size: 16px;
  font-family: "Arial", sans-serif;
  border-radius: 5px;
}

.form__button {
  width: 100%;
  max-width: 140px;
  padding: 14px 10px;
  margin: auto;
  border: solid 1px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #445162;
  background-color: #ffffff;
}

.form__button:hover {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #445162;
}

.social {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 240px;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.contact__text {
  margin: 0 0 0 5px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  max-width: 240px;
}

.footer {
  padding: 10px 0 5px;
}

.footer__text {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #445162;
}

@media (max-width: 1280px) {
  .reviews__list {
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .center {
    flex-direction: column;
    align-items: center;
  }

  .header__right {
    margin-bottom: 20px;
  }

  .about-your-product__content {
    flex-direction: column;
    align-items: center;
  }

  .about-your-product__right {
    padding: 0;
    margin-bottom: 30px;
  }

  .about-your-product__title {
    text-align: center;
  }

  .about-your-product__block {
    float: initial;
  }
}

@media (max-width: 1020px) {
  /* .tariff {
    max-width: 220px;
  } */

  .contacts__details {
    flex-direction: column;
    align-items: center;
  }

  .form {
    margin-bottom: 20px;
  }

  .social {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 400px;
  }

  .social-list {
    width: 100%;
    max-width: 400px;
  }

}

@media (max-width: 600px) {

  .header__image {
    width: 370px;
    height: 169px;
  }

  .about-your-product__block {
    width: 339px;
    height: 193px;
  }

  .advantages__text {
    padding: 35px 0 0;
    background: url(../images/icons/plus-icon.png) no-repeat 50% 0;
  }

  .scrinshot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scrinshot__name {
    text-align: center;
    line-height: 22px;
  }

  .scrinshot__image {
    margin: 0 auto 16px;
  }

  .review {
    flex-direction: column;
    align-items: center;
  }

  .review__photo {
    margin: 0 auto 15px;
  }

  .review__text {
    margin: 0;
  }

  .review__name::after {
    top: -10px;
    left: calc((100% - 23px)/2);
    width: 23px;
    height: 12px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .contact {
    width: 200px;
  }
}